/* Iniciado para @Screen = 420px */


/* ------ FONTS -----------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/*------ VARIAVEIS -----------*/

:root {
    --Color-primary: #2E245E;
    --Color-secundary: #6B54DE;
    --grey-100: #333333;
    --grey-50: #828282;
    --grey-0: #f5f5f5;
}


/* ------ HEADER -----------*/

.topo_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-0);
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
}

.topo_header h1 {
    margin-left: 118px;
}

.topo_header .menu {}

.topo_header .menu img {
    width: 30px;
    margin-right: 117px;
}

.topo_header {}

.menu__todos {
    display: none;
}

.topo_header .menu__todos li {}


/* ------ VITRINE -----------*/

.vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


/* ------ CARD -----------*/

.cards_conteiner {}


/* ------ PESQUISA -----------*/

.pesquisa {}

.pesquisa text {}

.pesquisa button {}


/* ------ CARRINHO -----------*/

.carrinho {}

.carro_status {}


/* Media Queries - Desktop */

@media screen and (min-width: 800px) {
    /* ------ HEADER -----------*/
    .topo_header {}
    .topo_header h1 {
        font-size: 30px;
        margin-left: 118px;
    }
    .topo_header .menu {}
    .topo_header .menu img {
        display: none;
    }
    .topo_header .menu__todos {
        display: flex;
        flex-direction: row;
        color: var(--grey-50);
        font-weight: 400;
        margin-right: 117px;
    }
    .topo_header .menu__todos li {
        font-family: "Inter";
        font-weight: 600;
        font-size: 16px;
        padding: 10px;
    }
    .topo_header .menu__todos li:hover {
        color: var(--grey-100);
    }
}